<div class="page-header flex items-center justify-between py-6 px-layout-x bg-white">
  <div class="header-left">
    <app-top-bar-breadcrumb />
    @if (showSearch()) {
      <div class="search-container">
        <lucide-angular [img]="searchIcon" [size]="18" class="search-icon" />
        <input
          type="text"
          class="search-input"
          [placeholder]="placeholder()"
          (input)="onSearchChange($event)"
        />
      </div>
    }
    @if (showDateFilter()) {
      <div class="relative inline-block">
        <!-- Filter Button -->
        <div>
          <input
            (click)="toggleDateDropdown()"
            placeholder="Date"
            class="flex items-center gap-2 px-4 py-2 text-gray-703 border border-gray-700 rounded-[8px] transition bg-white"
            [value]="selectedRange()?.chosenLabel"
          />
          <lucide-angular
            [img]="calendarIcon"
            [size]="18"
            class="absolute end-2 top-1/2 -translate-y-1/2 text-gray-704"
          />
        </div>

        <!-- Dropdown Menu -->
        @if (isDateDropdownOpen()) {
          <div class="absolute left-auto right-0 mt-2 w-96 p-4 flex flex-nowrap z-50">
            <!-- Right: Date Picker -->
            <div class="flex flex-col flex-1 pl-4 date-picker">
              <ngx-daterangepicker-material
                [autoApply]="true"
                [linkedCalendars]="true"
                [alwaysShowCalendars]="true"
                [ranges]="ranges"
                (choosedDate)="onDatesUpdated($event)"
              >
              </ngx-daterangepicker-material>

              <button
                (click)="applyFilter()"
                class="mt-3 bg-blue-500 text-white px-4 py-2 rounded-md shadow-md hover:bg-blue-600 transition"
              >
                Apply
              </button>
            </div>
          </div>
        }
      </div>
    }
  </div>

  @if (showCreateButton()) {
    <button class="create-btn" (click)="onCreateClick()">
      <lucide-angular [img]="createButtonIcon()" [size]="18" />
      {{ createButtonLabel() }}
    </button>
  }
</div>
