<header class="flex items-center justify-between">
  <div class="flex items-center">
    @if (activeBreadcrumb(); as breadcrumb) {
      <div class="flex items-center gap-2">
        <span class="text-gray-300 font-medium text-nowrap text-lg">{{ breadcrumb.section }}</span>
        <lucide-angular [img]="ChevronsRight" [size]="24" class="text-gray-300" />
        <span class="text-[#1C398F] font-semibold text-[28px] text-nowrap">{{
          breadcrumb.item
        }}</span>
      </div>
    }
  </div>
</header>
